<!-- views/index.ejs -->
<!doctype html>
<html lang="en">
<head>
    <title>3mbs - 3 steps for your mind, body, and soul</title>
    <meta charset="utf-8">

    <!-- Normalize stylesheet -->   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">

    <!-- Fonts, CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1819293234971177',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<main>
<section class="dashboard">
    <div><% if (user) { %>
      <p>Welcome, <%= user.local.nickname %><%= user.facebook.name %><%= user.google.name %>! Today's date is: <%= dailies.day %></p>
      <% } %>
      <p>You have completed the following today</p>
      <div class="db-item"><%= user.completion[0].Mind %> <i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
      <div class="db-item"><%= user.completion[0].Body %> <i class="fa fa-bicycle" aria-hidden="true"></i></div>
      <div class="db-item"><%= user.completion[0].Soul %> <i class="fa fa-heart" aria-hidden="true"></i></div> 
      <div class="add-item"><div class="add-item-text">Add your own activity </div><div class="add-item-icon"><i class="fa fa-pencil-square" aria-hidden="true"></i></div></div>

      <div class="add-entry">
        <form class="mindform" id="mindform" action="/addMind" method="post">
          <input name="mindvalue" class="mindvalue" type="text">
          <button form="mindform" type="submit">Add <i class="fa fa-graduation-cap" aria-hidden="true"></i></button>
        </form>
        <form id="bodyform" action="/addBody" method="post">
          <input name="bodyvalue" class="bodyvalue" type="text">
          <button form="bodyform" type="submit">Add <i class="fa fa-bicycle" aria-hidden="true"></i></button>
        </form>
        <form id="soulform" action="/addSoul" method="post">
          <input name="soulvalue" class="soulvalue" type="text">
            <button form="soulform" type="submit">Add <i class="fa fa-heart" aria-hidden="true"></i></button>
        </form>
      </div>
      <div><p class="past-activities">Past Activities <i class="fa fa-files-o" aria-hidden="true"></i></p><ul><% for (var i = 0; i< user.completion.length; i++) {%>
      <li><%= user.completion[i].day %>: <%= user.completion[i].Mind %> Mind <%= user.completion[i].Body %> Body <%= user.completion[i].Soul %> Soul  </li>
      <!-- <div class="profile">Edit your profile</div> --><% } %></ul></div>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
  </section>

  <section class="mbs">
    <div class="mind">
      <p class="mbs">Mind <i class="fa fa-graduation-cap" aria-hidden="true"></i></p>
      <div class="options">
        <div class="selection">
          <div class="selection-text mind1"><%= dailies.MindActivities[0] %></div>
          <a class="mindComplete"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
        </div>
        <div class="selection">
          <div class="selection-text mind2"><%= dailies.MindActivities[1] %> <span class="completed-item"></span></div>
          <a class="mindComplete"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
        </div>
        <div class="selection nasa-selection">
          <div class="selection-text mind3">Check out NASA's photo of the day <span class="completed-item"></span>
          </div>
          <a href="/main/nasa"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
        </div>
      </div>
    </div>

    <div class="body">
      <p class="mbs">Body <i class="fa fa-bicycle" aria-hidden="true"></i></p>
      <div class="options">
        <div class="selection">
          <div class="selection-text body1"><%= dailies.BodyActivities[0] %> <span class="completed-item"></span></div>
          <a class="bodyComplete"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
        </div>
        <div class="selection">
          <div class="selection-text body2"><%= dailies.BodyActivities[1] %> <span class="completed-item"></span></div>
          <a class="bodyComplete"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
        </div>
        <div class="selection youtube-selection">
          <div class="selection-text body3">Do a 5-minute workout <span class="completed-item"></span></div>
          <a href="/main/youtube"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
        </div>
      </div>
    </div>

    <div class="soul">
      <p class="mbs">Soul <i class="fa fa-heart" aria-hidden="true"></i></p>
      <div class="options">
        <div class="selection">
          <div class="selection-text soul1"><%= dailies.SoulActivities[0] %> <span class="completed-item"></span>
          </div>
          <a class="soulComplete"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
          </div>
        <div class="selection">
          <div class="selection-text soul2"><%= dailies.SoulActivities[1] %> <span class="completed-item"></span>
          </div>
          <a class="soulComplete"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></a>
          </div>
        <div class="selection">
          <div class="selection-text soul3">Hug your pet <span class="completed-item"></span>
          </div>
          <a class="soulComplete"><div class="check"><i class="fa fa-check-circle" aria-hidden="true"></i></div></div></a>
      </div>
    </div>
  </section>


</main>

  <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="/main.js"></script> 
</body>
</html>